.main {
  &__facial-block {
    margin-top: 71px;

    @media screen and (max-width: 900px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 769px) {
      margin-top: 40px;
    }
    @media screen and (max-width: 481px) {
      margin-top: 30px;
    }
  }

  &__posts {
    margin-top: 48.5px;
  }
  &__latest-posts {
    margin-top: 90px;
    @media screen and (max-width: 1025px) {
      margin-top: 50px;
    }
  }

  &__featured-posts {
    margin-bottom: 30px;
    margin-top: 90px;

    @media screen and (max-width: 900px) {
      margin-bottom: 30px;
      margin-top: 70px;
    }
    @media screen and (max-width: 481px) {
      margin-bottom: 13px;
      margin-top: 50px;
    }
  }
}
.facial-block {
  &__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;

    @media screen and (max-width: 900px) {
      display: block;
    }
  }

  &__image {
    margin-left: -190px;
    margin-right: 51px;

    & img {
      max-width: 721px;
      width: 100%;
    }

    @media screen and (max-width: 1200px) {
      margin-left: -130px;
      margin-right: 30px;
    }
    @media screen and (max-width: 1031px) {
      margin-left: -70px;
      margin-right: 30px;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__info {
    flex: 0 0 797px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 1200px) {
      flex: 0 1 797px;
    }
    @media screen and (max-width: 900px) {
      padding: 0px 10px;
      display: block;
      text-align: center;
    }
  }

  &__subheading {
    text-transform: uppercase;
    margin-bottom: 29px;
    color: #999999;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__heading {
    max-width: 429px;
    margin-bottom: 16px;
    align-self: flex-end;
    @media screen and (max-width: 900px) {
      margin: 0 auto;
      max-width: 529px;
      margin-bottom: 16px;
    }
    @media screen and (max-width: 769px) {
      margin-bottom: 14px;
    }
    @media screen and (max-width: 481px) {
      margin-bottom: 12px;
    }
  }

  &__description {
    max-width: 419px;
    font-family: SourceSerifPro;
    font-size: 16px;
    color: #666666;
    line-height: 150%;
    margin-bottom: 28px;
    @media screen and (max-width: 900px) {
      margin: 0 auto;
      max-width: 529px;
      margin-bottom: 28px;
    }
    @media screen and (max-width: 769px) {
      margin-bottom: 24px;
      font-size: 14px;
    }
    @media screen and (max-width: 481px) {
      margin-bottom: 18px;
      font-size: 14px;
    }
  }

  &__signature {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 120%;
    font-weight: 700;
  }
}

.posts {
  &__inner {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    @media screen and (max-width: 481px) {
      display: block;
    }
  }

  &__item {
    flex-basis: calc(33% - 19.5px);
    flex-grow: 1;
    margin-bottom: 50px;
    margin-right: 19.5px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
    @media screen and (max-width: 768px) {
      flex-basis: calc(50% - 19.5px);

      &:nth-child(3n) {
        margin-right: 19.5px;
      }
      &:nth-child(2n) {
        margin-right: 0px;
      }
      margin-bottom: 56px;
    }
    @media screen and (max-width: 481px) {
      &:nth-child(3n) {
        margin-right: 0px;
      }
      &:nth-child(2n) {
        margin-right: 0px;
      }
      margin-right: 0px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
  &__image {
    & img {
      max-width: 387px;
      width: 100%;
    }
    @media screen and (max-width: 481px) {
      text-align: center;
    }
  }
}

.post {
  position: relative;
  &::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 99% 30% 0 0;
    background: #f7f4f4;
    z-index: -1;
    transition: transform 0.3s ease;
  }

  &__image {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 18px;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    @media screen and (max-width: 768px) {
      font-size: 9px;
    }

    @media screen and (max-width: 481px) {
      font-size: 8px;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-family: TenorSans;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 377px;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
    @media screen and (max-width: 481px) {
      font-size: 16px;
    }
  }

  &__signature {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media screen and (max-width: 768px) {
      font-size: 9px;
    }

    @media screen and (max-width: 481px) {
      font-size: 8px;
    }
  }
}

.latest-posts {
  &__button {
  }
  &__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 90px;
    @media screen and (max-width: 768px) {
      padding-bottom: 70px;
    }
    @media screen and (max-width: 481px) {
      padding-bottom: 40px;
    }
  }
  &__subtitle {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    align-self: flex-start;
    color: #999999;
    line-height: 12px;
    margin-bottom: 30px;
  }
  &__title {
    @media screen and (max-width: 481px) {
      max-width: none;
    }
  }
  &__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-bottom: 30px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 481px) {
      display: block;
      margin-bottom: 15px;
    }
  }

  &__post {
    flex: 1 0 calc(25% - 20px);
    margin-right: 20px;

    margin-bottom: 50px;
    &:nth-child(4n) {
      margin-right: 0px;
    }

    @media screen and (max-width: 1025px) {
      flex: 1 0 calc(33% - 15px);
      margin-right: 15px;

      margin-bottom: 54px;
      &:nth-child(4n) {
        margin-right: 15px;
      }
      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
    @media screen and (max-width: 768px) {
      flex: 1 0 calc(50% - 15px);

      &:nth-child(2n) {
        margin-right: 0px;
      }
      &:nth-child(3n) {
        margin-right: 0px;
      }
      &:nth-child(4n) {
        margin-right: 0px;
      }
      &:nth-child(odd) {
        margin-right: 12px;
      }
    }
    @media screen and (max-width: 481px) {
      margin-bottom: 40px;
    }
  }

  &__image {
    & img {
      width: 100%;
      @media screen and (max-width: 768px) {
        max-width: none;
        width: 100%;
      }
    }
    @media screen and (max-width: 481px) {
      display: none;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 21px 26px;

  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.726) inset;

  margin: auto;

  position: relative;

  $easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
  $timing: 0.4s;
  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 0;
    width: 2px;
    transition: height $timing $timing $easeInOutQuint,
      width $timing $easeInOutQuint;
  }

  &::before {
    box-shadow: 2px 2px 0 rgba(255, 255, 255, 1) inset;
    bottom: 0;
    left: 0;
  }

  &::after {
    box-shadow: -2px -2px 0 rgba(255, 255, 255, 1) inset;
    top: 0;
    right: 0;
  }

  &:hover {
    &::before,
    &::after {
      height: 100%;
      width: 100%;
      transition: height $timing $easeInOutQuint,
        width $timing $timing $easeInOutQuint;
    }
  }

  &__link {
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 120%;
    font-size: 10px;
  }
}

.featured-posts {
  &__container {
  }

  &__inner {
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__post {
    flex: 1 0 calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 50px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
    @media screen and (max-width: 900px) {
      flex: 1 0 100%;
      margin-right: 0px;
      margin-bottom: 45px;
    }
    @media screen and (max-width: 481px) {
      margin-bottom: 37px;
    }
  }

  &__link {
  }

  &__image {
    & img {
      width: 100%;
    }
  }

  &__subtitle {
  }

  &__title {
    max-width: 590px;
  }

  &__label {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #999999;
    font-size: 10px;
    line-height: 120%;
    margin-bottom: 30px;
  }
}
