@font-face {
  font-family: LibreFranklin;
  font-display: swap;
  src: url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
    url('../fonts/LibreFranklin-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: LibreFranklin;
  font-display: swap;
  src: url('../fonts/LibreFranklin-BoldItalic.woff2') format('woff2'),
    url('../fonts/LibreFranklin-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: LibreFranklin;
  font-display: swap;
  src: url('../fonts/LibreFranklin-Italic.woff2') format('woff2'),
    url('../fonts/LibreFranklin-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: LibreFranklin;
  font-display: swap;
  src: url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
    url('../fonts/LibreFranklin-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SourceSerifPro;
  font-display: swap;
  src: url('../fonts/SourceSerifPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSerifPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TenorSans;
  font-display: swap;
  src: url('../fonts/TenorSans-Regular.woff2') format('woff2'),
    url('../fonts/TenorSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
